.header {
  padding: 05px; /* some padding */
  text-align: center; /* center the text */
  background: rgba(17, 129, 204, 0.918); /* green background */
  color: white; /* white text color */
  display: flex;
  font-variant: small-caps;
  font-size: larger;
  max-width: auto;
  
  
  


}
/* styling search bar */
.search input[type=text]{
  width:300px;
  height:25px;
  border-radius:25px;
  border: none;
}
    
.search{
  float:right;
  margin:7px;
}
    
.search button{
  background-color: #0074D9;
  color: #f2f2f2;
  float: right;
  padding: 5px 10px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
 
  
}
.login{
  display: inline;
  float: right;

}
/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 20px;
  
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #333; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration:none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}







/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%; /* Set the width of the sidebar */
  background-color: #f1f1f1; /* Grey background color */
  padding: 20px; /* Some padding */
}

/* Main column */
.main {
  flex: 70%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 20px; /* Some padding */
}













/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}





footer {
  display:grid;
  justify-content: center;
  padding: 1px;
  background-color: #45a1ff;
  color: #fff;
 
  
  
}

.searchbox {  
  float:left;  
  }  
  input[type=text] {  
  padding: 6px;  
  margin-top: 8px;  
  font-size: 17px;  
  border: none;  
  }  
  .searchbox button {  
    
  padding: 8px;  
  margin-top: 10px;  
  margin-left: 10px;  
  background: rgb(0, 17, 255);  
  font-size: 20px;  
  border: none;  
  cursor: pointer;  
  }  
  .searchbox button:hover {  
  background: blue;  
  }  

 
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: auto;
    text-align: center;
    font-family: arial;
    
    
  }
  
  .price {
    color: rgb(167, 18, 18);
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }